<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Elton</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    <a *ngIf="HardcodedAuService.Login()" class="nav-link" routerLink="/welcome/Elton">Home</a>
                    <a  *ngIf="HardcodedAuService.Login()" class="nav-link" routerLink="/Todos">Todos</a>

                </div>
            </div>

            <ul class="navbar-nav ml-auto">
                <a *ngIf="!HardcodedAuService.Login()" class="nav-link" routerLink="/login">Login</a>
                <a *ngIf="HardcodedAuService.Login()" class="nav-link" routerLink="/logout">Log Out</a> 
            </ul>

        </div>
    </nav>
</header>